$grey: #f9f9f9;
$lightgrey: #cccccc;
$darkGrey: rgba(102, 102, 102, 1);
$darkerGrey: #E4E4E4;
$white: #fff;
$black: #000;
$miniBlacK: #282828;
$lightBlack: #313131;
$lighterPink: rgba(255, 253, 248, 1);
$lightPink: #FFE0D9;
$lightRed: #F97B5C;
$lightOrange: rgba(255, 241, 214, 1);
$lighterOrange: rgba(255, 224, 217, 1);
$brownRed: rgba(249, 123, 92, 1);
